body{
    border-left:2.33px dotted #1169aa;
    border-right:2.33px dotted #1167aa;
    border-top:2.33px solid #1267aa;
    border-bottom:2.33px solid #1167ad;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ad290f;
    background-color:#aaddcd;
    text-align:center;
}
h1,h2{
    font-family: sans-serif;
    color:#54adcf;
    border-bottom:2.33px dotted #54abcf;
    border-top:2.33px solid #54abcd;
}
