body{
  border-left-color:#25aad3;
  border-left-style:dotted;
  border-left-width:2.65px;
  border-top:2.5px dotted #25abd3;
  border-bottom:2.8px solid #26aab3;
  border-right:2.85px dotted #25abb3;
  font-family: sans-serif;
  color:#65dc23;
  background-color:#5855ad;
  text-align:center;
} 
h1 h2 p{
  border-bottom:2px dotted #10add2;
}